.about_cards_wrap {
  .about_cards {
    padding: 20px;
    border-radius: 6px;
    margin: 5px;
    width: calc(33.33% - 10px);

    &:nth-child(1) {
      background-color: khaki;
    }

    &:nth-child(2) {
      background-color: bisque;
    }

    &:nth-child(3) {
      background-color: lightgoldenrodyellow;
    }
  }
}
