.list {
  list-style-type: none;
}

.list li {
  position: relative;
  padding-left: 22px;
}

.list li:before {
  background-image: url("../../../public/images/number_tag.png");
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-size: 40px;
  left: -30px;
  top: 0px;
  background-repeat: no-repeat;
}
