.bluebtn[class~="p-button"] {
  background-color: $primary;
  border: 1px solid $primary;
  &:hover {
    background-color: $dark-primary;
    border: 1px solid $dark-primary;
  }
}
// [class~="btn-close"] {
// display: none;
// }

.closebtn [class~="btn-close"] {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  &:focus {
    box-shadow: none;
  }
}

// [class~="p-dropdown-panel"] {
//   z-index: 9999;
// }
