.list {
  list-style-type: none;
}

.list li {
  position: relative;
}

.list li:before {
  background-image: url("../../../public/images/check.png");
  position: absolute;
  content: "";
  width: 17px;
  height: 18px;
  background-size: 17px 18px;
  left: -30px;
  top: 3px;
  background-repeat: no-repeat;
}
