.text_stroke {
  // color: white;
  // text-shadow: 1px 1px 0 #ccc, -1px -1px 0 #ccc, 1px -1px 0 #ccc, -1px 1px 0 #ccc, 1px 1px 0 #ccc;
  font-size: 26px;
  background-color: aliceblue;
  display: inline-block;
  border-radius: 50%;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.colorbox {
  padding: 25px 25px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.colorbox_wrap {
  background-color: #eee;

  .colorbox_wrap_inner:nth-child(1) .colorbox {
    background-color: $white;
  }

  .colorbox_wrap_inner:nth-child(2) .colorbox {
    background-color: #eefff7;
  }

  .colorbox_wrap_inner:nth-child(3) .colorbox {
    background-color: $white;
  }

  .colorbox_wrap_inner:nth-child(4) .colorbox {
    background-color: #fbe7d0;
  }

  .colorbox_wrap_inner:nth-child(5) .colorbox {
    background-color: #dfeff3;
  }

  .colorbox_wrap_inner:nth-child(6) .colorbox {
    background-color: #cdece1;
  }
}

@media screen and (max-width: 768px) {
  .cvprovide {
    [class~="content-heading"] {
      font-size: 20px;
      font-weight: bold;
    }
    [class~="heading"] {
      margin: 5px auto;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
