.main_wrap {
  background-color: #002147;
  padding: 65px 0;
}

.scroll_text {
  background-image: linear-gradient(
    90deg,
    #001322 28%,
    rgba(1, 51, 89, 0.9) 55.62%,
    hsla(0, 0%, 100%, 0)
  );
  width: 100%;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 20px;
  }
  .slider_text_wrap {
    max-width: 87%;
    margin-left: 0;
  }
}
