.banner_video_wrap:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    90deg,
    #001322 29%,
    rgba(1, 51, 89, 0.9) 45.62%,
    hsla(0, 0%, 100%, 0)
  );
}

@media screen and (max-width: 768px) {
  .banner_video_wrap {
    [class~="why_heading"] {
      font-size: 16px;
    }
    [class~="display-2"] {
      font-size: 20px;
      margin-bottom: 5px;
    }
    [class~="banner-text"] {
      max-width: 60%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    [class~="watch-video"] {
      font-size: 14px !important;
      padding: 7px 15px !important;
    }
  }
}
