@media screen and (max-width: 768px) {
  .banner_button_wrapper {
    flex-direction: column;
  }

  .proceed_btn_wrap {
    margin-bottom: 20px;
  }

  .proceed_btn_wrap,
  .youtube_btn_wrap {
    margin-right: auto !important;
  }
}
