.animbtn {
  background: $primary;
  // color: $white;
  padding: 10px 20px;
  border-radius: 4px;
  transition: 0.5s;
}

.animbtn:hover .rightIcon {
  transform: translateX(3px);
  transition: 0.5s;
}
