@media screen and (max-width: 768px) {
  .cta_wrap {
    .ctaimg {
      width: 100px !important;
    }
    [class~="cta-heading"] {
      font-size: 20px;
      font-weight: bold;
      margin: 5px 0;
    }
  }
}
