.universityListHead {
  background-color: $dark-grey;
  color: $white;
}
@mixin universityListTag {
  border-radius: 15px 15px 0 0;
  font-size: 10px;
  z-index: 1;
  padding: 2px 0;
}

.universityOuterBar {
  .universityListBbar {
    box-shadow: 0 0 6px rgb(0 0 0 / 8%);
    .universityListContent {
      // overflow: hidden;
      background-color: $white;
      font-size: 14px;
      &:first-child {
        border-radius: 5px 0 0 0;
      }
      &:last-child {
        border-radius: 0px 5px 0 0;
      }

      line-height: 1.5;
      .universityName {
        @include universityListTag;
        background-color: $light-rose;
      }
      .starIcon {
        color: $secondary;
      }
      .universityLoanTag {
        @include universityListTag;
        background-color: $tag-grey;
        width: 110%;
      }
      .universityWesTag {
        @include universityListTag;
        background-color: $tiffany;
        width: 110%;
      }
      .approvalTag {
        background-color: $tiffany;
        padding: 0 10px;
        border-radius: 10px 0px 0 10px;
        font-size: 10px;
        top: 5px;
        &:hover {
          cursor: pointer;
        }
      }
      .universityListTopTag {
        border-radius: 0 0 10px 10px;
        color: $white;
        padding: 2px 0;
        // svg {
        //   font-size: 7px;
        // }
      }
    }
    .universityAdvice {
      background-color: aliceblue;
      transition: 0.3s;
      border-radius: 6px;
      img {
        transition: 0.3s;
      }
      &:hover {
        background-color: #fff;
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  .bottomBar {
    background-color: $tag-grey;
    border-radius: 0 0 10px 10px;
    padding: 2px 10px;
    max-width: 97%;
    margin: 0 auto;
    .col {
      text-align: left;
      font-size: 12px;
      padding: 0;

      // padding: 5px 0;
    }
    .col:first-child {
      span {
        background-color: $dark-grey;
        color: $white;
      }
    }
    .col:last-child {
      text-align: right;
    }
  }
}

.mob_mentor {
  [class~="mentor_dialog"] {
    flex-direction: row !important;
    align-items: center;
    background-color: aliceblue;
    border-radius: 0 0 10px 10px;
    width: 90%;
    margin: 0 auto 20px auto;
    padding: 4px 0;
    svg {
      margin: 0 !important;
      width: 20px;
      height: 20px;
      display: none;
    }
    p {
      br {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .universitylist_left_panel,
  .universitylist_right_panel {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .bottomBar {
    margin-bottom: 0 !important;
  }

  .universitylist_heads,
  .universityListBbar,
  .bottomBar {
    margin: 0;
  }

  .universitylist_heads .universityListHead,
  .universitylist_grid .universityOuterBar .universityListContent {
    width: 33.33%;
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6) {
      display: none !important;
    }
  }
  .bottomBar {
    max-width: 100% !important;
  }
  .universityLoanTag,
  .universityWesTag {
    width: 100% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 991px) {
  .universitylist_heads .universityListHead,
  .universitylist_grid .universityOuterBar .universityListContent {
    width: 25%;
    &:nth-child(4),
    &:nth-child(5) {
      display: none !important;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .universitylist_heads .universityListHead,
  .universitylist_grid .universityOuterBar .universityListContent {
    width: 20%;
    &:nth-child(5) {
      display: none !important;
    }
  }
}

@media screen and (min-width: 600px) {
  .mob_mentor {
    display: none;
  }
  // .universitylist_grid {
  //   .universityOuterBar {
  //     .universityListBbar {
  //       .universityListContent {
  //         width: 33.33%;
  // &:nth-child(3),&:nth-child(4) {
  // display: none !important;
  // }

  //       }
  //     }
  //   }
  // }
}
