.form_radio {
    [class~="form-check-input"] {
        min-width: 1.3em;
    min-height: 1.3em;
    margin-top: 3px;
    }
}
.budget_slider {
    [class~="p-slider"] {
        height: 2px;
        [class~="p-slider-range"] {
            background-color: $secondary;
        }
        [class~="p-slider-handle"] {
            border: 2px solid $black;
            &:focus {
                box-shadow: none;
            }
            &:hover {
                background-color: $secondary;
                border: 2px solid $secondary;
            }
        }
    }
}
.filter_wrap {
    ::-webkit-scrollbar {
        display:none;
      }
}