.bg_wrap {
  &::before {
    content: "";
    position: absolute;
    left: -125px;
    top: 0;
    background-image: url("/images/orange-dot.png");
    width: 400px;
    height: 200px;
    background-size: 400px 200px;
    background-repeat: no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("/images/circlebg.png");
    position: absolute;
    width: 300px;
    height: 304px;
    background-size: 300px 350px;
    background-repeat: no-repeat;
    left: 135px;
    top: 0;
    z-index: -1;
  }

  .heading {
    font-size: 32px;
    line-height: 50px;
  }
}

@media screen and (max-width: 991px) {
  .bg_wrap {
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
    .heading {
      font-size: 20px;
      line-height: 25px;
    }
  }
  .card_wrap {
    margin-top: 0 !important;
    margin-bottom: 30px !important;
  }
  .mycard {
    min-height: 150px;
  }
}
