@media only screen and (min-width: 579px) and (max-width: 900px) {
  .colorcard_container {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
  }
}

@media screen and (max-width: 768px) {
  .colorcard_slider {
    padding: 5px 0px !important;
    margin: 20px 0 !important;
    [class~="swiper-pagination"] {
      bottom: -5px;
    }
  }
}
