.mobile_banner {
  // padding-bottom: 15px !important;
  [class~="swiper-pagination"] {
    bottom: -5px !important;
  }
  [class~="swiper-pagination-bullet"] {
    width: 5px;
    height: 5px;
  }
}
