.fees_wrap {
  background-color: $secondary;
  // padding: 10px 20px;
  border-radius: 4px;
  color: $white;
  font-weight: bold;
  width: 80%;
  [class~="p-button"] {
    max-width: 100% !important;
    padding: 12px 20px !important;
    font-size: 14px !important;
  }
}
.enrolled_wrap {
  border: 1px dashed $secondary;
  padding: 10px 20px;
  position: relative;
}
.enrolled_wrap::before {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;

  background-image: url("../../../public/images/right_check.png");
  width: 15px;
  height: 15px;
  background-size: 15px;
}
.compare_certificate {
  img {
    object-fit: contain;
  }
}
@media screen and (max-width: 768px) {
  .compare_table {
    [class~="text-dark"] {
      padding: 1rem 5px !important;
    }
    [class~="p-column-title"] {
      font-size: 13px;
    }
    [class~="p-datatable-tbody"] {
      font-size: 13px;
    }
  }
  .fees_wrap {
    font-size: 12px;
    padding: 5px;
  }
}
