.otta_header {
  background-color: $header-light;
  padding: 0 10px;
}

.otta_panel {
  // background-color: $panel-light;
  // position: relative;
  height: 100%;
  // min-height: 100vh;
  &:before {
    content: "";
    position: absolute;
    background: url(../../public/images/otta_bg1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    right: 0;
    bottom: -50px;
    width: 100%;
    height: 100%;
    background-position: bottom center;
    z-index: -1;
    opacity: 0.4;
  }

  // &:after {
  //   content: "";
  //   position: absolute;
  //   background: url(../../public/images/map_bg.png);
  //   background-repeat: no-repeat;
  //   background-size: contain;
  //   left: 0;
  //   top: 10%;
  //   width: 100%;
  //   height: 100%;
  //   max-width: 300px;
  //   z-index: -1;

  // }
}

.option_wrapper {
  padding-bottom: 120px;
  .bgspan {
    background-color: $panel-light;
  }

  // background-color: $panel-light;
  input[type="checkbox"] {
    display: none;
  }

  label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-color: $white;
    border-radius: 0.2rem;
    font-size: 1rem;
    margin: 0.48rem 0 0 0;
    user-select: none;
    padding: 0.69rem 1.8rem;
    display: flex;
  }

  input[type="checkbox"]:checked + label {
    background-color: $primary;
    color: $white;
  }
  [class~="p-inputtext"] {
    padding: 1rem 0.75rem;
  }
  .otta_degree {
    width: 190px;
    height: 140px;
  }
  .otta_course {
    width: 140px;
    height: 140px;
  }
}

.ottastep {
  display: none !important;
}

.prevBtn,
.nextBtn {
  width: 20%;
}

.prevBtn {
  background-color: $white;
  border-radius: 40px;
  color: $primary;
}

.nextBtn {
  background-color: $primary;
  border-radius: 40px;
}

.progress_bar {
  height: 0.5rem;
}

.notifybar {
  background-color: $pacific-blue;
}

.otta_panel {
  .yes_no {
    [class~="p-radiobutton"] {
      ~ label {
        padding: 2.5rem;
        margin: 0.5rem;
      }
    }
  }
  [class~="p-radiobutton"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    display: none;

    ~ label {
      padding: 0.69rem 1.5rem;
      // padding: 0.69rem 1.5rem 0.69rem 2.7rem;
      margin: 0.48rem 0.48rem 0px 0px;
      border-radius: 0.75rem;
      box-shadow: 0 4px 4px rgb(92 92 92 / 25%),
        inset -6px 9px 38px -4px rgb(205 217 231 / 22%);
      // transition: .2s;
      // &:hover {
      //   backface-visibility: hidden;
      //   transform: scale(1.02);
      // }
    }
  }
  [class~="p-radiobutton-checked"] {
    ~ label {
      color: $white;
      background-color: $primary;
      // padding: 0.69rem 1.5rem 0.69rem 2.7rem;
      span:nth-child(1) {
        transform: translateY(0%);
      }
      // span:nth-child(2) {
      //  transform: translateX(15px);
      // }
    }
  }
  .course_wrap {
    [class~="p-radiobutton-checked"] {
      ~ label {
        img {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 4px;
          border-radius: 4px;
          transition: 0.5s;
        }
      }
    }
  }
}

.otta_container {
  [class~="p-button"] {
    transition: 0.3s;
    &:enabled {
      &:hover {
        background-color: #035fae;
        border-color: #035fae;
      }
    }
  }
}

// [class~="p-inputtext"] {
//   padding: 1rem 0.75rem;
// }

.otta_lastform_label {
  color: #5e6c84;
}

@media screen and (max-width: 991px) {
  .option_wrapper {
    .otta_degree {
      width: 130px;
      height: 130px;
    }
    .otta_course {
      width: 100px;
      height: 100px;
    }
  }
  .otta_panel {
    .yes_no {
      [class~="p-radiobutton"] {
        ~ label {
          padding: 1rem;
        }
      }
    }
  }
}
