.contact_form {
  [class~="p-button"] {
    background-color: $secondary;
    border-color: $secondary;
    &:hover {
      background-color: $secondary-hover;
      border-color: $secondary-hover;
    }
  }
  label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: $white;
    padding: 0px 10px;
    border-radius: 6px;
    font-size: 15px;
  }
  [class~="p-inputtext"] {
    &:enabled {
      &:focus {
        border-color: none;
        border: 1px solid none;
      }
    }
  }
}

// .p-inputtext:enabled:focus
