.blog_card {
  img {
    transition: 0.3s;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
  [class~="card-text"] {
    [class~="post-excerpt"] {
      h2 {
        display: none;
      }
    }
  }
}
