.blogsidebar {
  padding: 20px;
  box-shadow: 10px 10px 20px #e6e6e6ab;
  border-radius: 0;
  a {
    background-color: #eaf0f6;
    padding: 14px 14px 14px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #4c4f53;

    &:hover {
      color: $secondary;
    }
  }
}
