.sidebar_heading {
  font-size: 18px;
  color: $secondary;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: $secondary;
    height: 4px;
    width: 45px;
    border-radius: 2px;
  }
}
