.breadcrumb {
  border: none;
  [class~="pi-chevron-right"] {
    &::before {
      font-size: 10px;
    }
  }
}
.suggest_link {
  background-color: $secondary;
  padding: 15px 35px;
  font-size: 16px;
  border-radius: 50px;
  color: $white;
  display: inline-block;

  &:hover {
    background-color: $secondary-hover;
    color: $white;
  }
}

.blog_detail_content {
  h2:has([class~="ez-toc-section"]),
  h2:has(strong) {
    font-size: 22px !important;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: bold;
  }
  table {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  table,
  td {
    border: 1px solid #ccc;
    padding: 10px 20px;
  }
  [class~="post-excerpt"] {
    img {
      width: 100% !important;
      max-width: 700px;
      object-fit: contain;
      height: auto !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .detail_page {
    [class~="blogdetail_title"] {
      font-size: 18px;
    }
  }
}
