.round_btn {
  border: 1px solid #0074d7;
  border-radius: 25px;
  padding: 12px 30px;
  display: inline-block;
  transition: 0.4s;
}

.round_btn:hover {
  background-color: #0074d7;
  color: #fff;
  border: 1px solid #0074d7;
}
