.wrapper {
  background-color: $aliceblue;
  .bannerHead {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    .bannerHead {
      font-size: 35px;
      line-height: 40px;
    }
  }
}
