// .compare_feature {
// .swiper-slide {
//     &:nth-child(5) {
//         [class~="card"]  {

//               background-color: #aaa;

//           }
// }
// }

.featureSlider {
  [class~="swiper-slide"] {
    &:nth-child(1) {
      [class~="card"] {
        background-color: #faebd7;
      }
    }
    &:nth-child(2) {
      [class~="card"] {
        background-color: #f0fff0;
      }
    }
    &:nth-child(3) {
      [class~="card"] {
        background-color: #dcdcdc;
      }
    }
    &:nth-child(4) {
      [class~="card"] {
        background-color: #f5f5dc;
      }
    }
    &:nth-child(5) {
      [class~="card"] {
        background-color: #faebd7;
      }
    }
    &:nth-child(6) {
      [class~="card"] {
        background-color: #f0fff0;
      }
    }
    &:nth-child(7) {
      [class~="card"] {
        background-color: #dcdcdc;
      }
    }
    &:nth-child(8) {
      [class~="card"] {
        background-color: #f5f5dc;
      }
    }
    &:nth-child(9) {
      [class~="card"] {
        background-color: #faebd7;
      }
    }
    &:nth-child(10) {
      [class~="card"] {
        background-color: #f0fff0;
      }
    }
    &:nth-child(11) {
      [class~="card"] {
        background-color: #dcdcdc;
      }
    }
    &:nth-child(12) {
      [class~="card"] {
        background-color: #f5f5dc;
      }
    }
    .number {
      width: 50px;
      height: 50px;
      border: 1px dashed #000;
    }
  }
}

@media only screen and (min-width: 579px) and (max-width: 991px) {
  .compare_feature_wrap {
    .compare_feature_col {
      width: 100%;
    }
  }
}
