.cardWrapper {
  [class~="card-body"] {
    [class~="p-chip"] {
      background-color: $extreme-light-orange;
      [class~="p-chip-text"] {
        font-size: 10px;
        line-height: 0.5;
      }
    }
    [class~="card-text"] {
      font-size: 10px;
      border-radius: 0 0 10px 10px;
    }
  }
  width: 128px;
  margin-right: 12px;
}

.course_nav {
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
  [class~="nav-link"][class~="active"] {
    background-color: $primary;
  }
  [class~="nav-link"] {
    color: $black;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 768px) {
  .cardWrapper {
    margin-right: 2px;
    width: calc(33.33% - 2px);
  }
  .course_nav {
    box-shadow: none;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 20px;
    justify-content: space-between;
    padding: 20px 10px !important;
    [class~="nav-item"] {
      // border-bottom: 1px solid #aaa;
      [class~="nav-link"] {
        font-size: 12px;
        padding: 5px 0px;
        border-radius: 0;
        font-weight: bold;
      }
    }
    [class~="nav-link"][class~="active"] {
      background-color: $white;
      color: $primary;
      border-bottom: 2px solid $primary;
    }
    [class~="nav-item"] {
      min-width: fit-content;
    }
    &::-webkit-scrollbar {
      display: none !important;
    }
  }
  .course_tabcontent {
    padding: 10px 5px 0px 5px;
    border-radius: 23px;
    background-color: #f2f3f8;
  }
  .compare_number {
    font-size: 9px !important;
  }
}

@media only screen and (min-width: 579px) and (max-width: 778px) {
  .course_domain,
  .course_domain_content {
    width: 100%;
  }
  .course_nav {
    box-shadow: none;
    padding-left: 0 !important;
    margin-bottom: 10px;
    [class~="nav-link"] {
      font-size: 13px;
    }
  }
}
