.custom_menu {
  > [class="p-menubar-root-list"] {
    > [class~="p-menuitem"] {
      > [class~="p-menuitem-link"] {
        padding: 0.75rem 0.5rem !important;
        [class~="p-menuitem-text"] {
          font-size: 13px;
        }
      }
    }
  }
  .top_univ {
    border: 1px solid $primary;

    [class~="p-menuitem-text"] {
      color: $primary !important;
    }
  }
  .suggest_me [class~="p-menuitem-link"] {
    overflow: initial;
  }

  [class~="p-submenu-list"] {
    [class~="p-menuitem"] {
      [class~="p-menuitem-link"] {
        padding: 0;
        [class~="p-menuitem-text"] {
          width: 100%;

          a {
            width: 100%;
            display: block;
            padding: 0.75rem 1.25rem;
          }
        }
      }
    }
  }

  .p-menuitem.p-menuitem-active > .p-menuitem-link {
    background: transparent;
    text-decoration: none;
  }
}
