// .mypanel > [class~="p-panel-header"] {
//     background-color: #07c4e8;
//     color: #ffffff;
// }

.compareCheck {
  .form-check-input {
    margin-top: 0;
  }
  label {
    margin-left: 8px;
    margin-top: 2px;
  }
}

.compare_bottom_modal {
  [class~="primary-button-wrap"] {
    width: 100%;
    [class~="primary-button"] {
      padding: 15px 0;
    }
  }
}

.addtocompare_modal {
  [class~="form-check-input"] {
    width: 1.3em;
    height: 1.3em;
    border: 1px solid $primary;
    box-shadow: 0 0 0 0.15rem rgb(13 110 253 / 25%);
  }
  [class~="compare_now"] {
    &:hover {
      background-color: red !important;
    }
  }
}

.add_to_compare_wrap {
  [class~="p-dialog-content"] {
    border-radius: 0 !important;
  }
}
