// .approvalModal {
//   background-color: $light-grey;
// }

.approvalModal {
  [class~="modal-body"] {
    background-color: $light-grey;
  }
  [class~="btn-close"] {
    position: absolute;
    right: 25px;
  }
}
