.edit_dialog {
  max-width: 672px;
  width: 100%;
  max-height: 100%;
  [class~="p-dialog-header"] {
    background-color: #f5f8fd;
    padding: 0.8rem 1.5rem;
    border-radius: 0;
    [class~="p-dialog-title"] {
      font-family: $myFont;
      font-size: 18px;
      font-weight: bold;
    }
  }
  [class~="p-dialog-footer"] {
    border-radius: 0;
  }
  [class~="p-dialog-content"] {
    padding-top: 30px;
  }
  [class~="p-button"] {
    &:enabled {
      &:hover {
        background-color: #cd4b29;
      }
    }
  }
  [class~="p-disabled"] {
    pointer-events: unset;
    cursor: no-drop !important;
  }
  [class~="p-radiobutton-disabled"] {
    ~ label {
      cursor: no-drop;
    }
  }
}

.editform {
  .custom_label {
    color: #5e6c84;
    font-family: $myFont;
  }
  [class~="p-radiobutton"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 1;
    display: none;

    ~ label {
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      margin: 0.48rem 0.48rem 0px 0px;
      border-radius: 6px;
      box-shadow: 0 4px 4px rgb(92 92 92 / 25%),
        inset -6px 9px 38px -4px rgb(205 217 231 / 22%);
      // cursor: pointer;
    }
  }
  [class~="p-radiobutton-checked"] {
    ~ label {
      color: $white;
      background-color: $primary;
    }
  }
  [class~="p-inputtext"] {
    padding: 1rem 0.75rem;
  }
}
