.UniversityDetailTab {
  // span[style="font-family:Arial"] {
  //   font-family: $myFont !important;
  // }
  [class~="p-tabview-nav-container"] {
    position: sticky;
    top: 0;
    z-index: 111;
  }

  [class~="p-tabview"] {
    [class~="p-tabview-nav"] {
      justify-content: space-between;
      background-color: $light-grey;

      li {
        [class~="p-tabview-nav-link"] {
          background-color: $light-grey;
          border-radius: 0;
        }
      }
      [class~="p-highlight"] {
        [class~="p-tabview-nav-link"] {
          color: $primary;
          border-color: $primary;
        }
      }
    }
  }

  [class~="p-tabview-title"] {
    font-size: 15px;
    font-weight: normal;
  }
}

@media screen and (max-width: 991px) {
  .UniversityDetailTab {
    [class~="p-tabview-panels"] {
      padding: 1rem 5px;
    }
  }
}
