.proceed_btn {
  transition: 0.4s;
  &:enabled {
    &:hover {
      background-color: $secondary-hover;
    }
  }
}

.universityDetail_wrap {
  [class~="p-dialog-header"] {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  [class~="p-dialog-footer"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

@media screen and (max-width: 991px) {
  .universityDetail_footer {
    [class~="p-button"] {
      [class~="p-button-label"] {
        font-size: 12px;
        span {
          font-size: 12px;
        }
      }
      [class~="p-button-icon"] {
        font-size: 12px;
      }
    }
  }
  .universityDetail_wrap {
    [class~="p-dialog-header"] {
      padding: 0.5rem 1.5rem;
    }
  }
}
