.course_ques {
  .course_ques_radiowrap {
    border: 1px solid #ddd;

    border-radius: 6px;
    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 75%;
    justify-content: center;
    [class~="p-radiobutton"] {
      position: absolute;
      right: -14px;
      top: -5px;
      padding: 0;
      [class~="p-radiobutton-box"] {
        width: 16px;
        height: 16px;
        [class~="p-radiobutton-icon"] {
          width: 8px;
          height: 8px;
        }
      }
      [class~="p-radiobutton-box"][class~="p-highlight"] {
        border-color: $primary;
        background: $primary;
      }
    }
    label {
      padding: 15px 35px;
      cursor: pointer;
      width: 100%;
      text-align: center;
    }
  }
}
.quesform_modalfooter {
  [class~="p-button"] {
    background-color: $white;
    color: $primary;
    border: none;
    font-size: 14px;
    font-family: $myFont;
    &:hover {
      background-color: $white;
      color: $primary;
    }
  }
}
