.signup_form {
  .form_row {
    margin-bottom: 30px;
    [class~="p-inputtext"] {
      padding: 1rem 0.75rem;
    }
  }
  [class~="p-button"] {
    background-color: $primary;
    border: 1px solid $primary;
    &:hover {
      background-color: #005aa7;
    }
  }
  [class~="mobile_input"] {
    padding: 1rem 2.5rem !important;
  }
}
