.collection [class~="p-tabview"] {
  [class~="p-tabview-nav"] {
    gap: 0 5px;
    justify-content: space-between;
    [class~="p-tabview-nav-link"] {
      font-weight: normal;
      background-color: $light-grey;
    }

    li[class~="p-highlight"] {
      [class~="p-tabview-nav-link"] {
        background-color: $dark-orange;
        color: $white;
        border-color: $dark-orange;
      }
    }
  }
  [class~="p-tabview-panels"] {
    padding: 1.25rem 0;
  }
}
