.checklistWrap {
  background-color: $light-grey;
  border-radius: 20px;
  .checklistPanel {
    .checklistDiv {
      border-radius: 20px;
      padding: 40px;
      margin-bottom: 35px;
      height: calc(100% - 30px);
      .checklistCount {
        min-width: 40px;
        width: 40px;
        background-color: $aliceblue;
        height: 40px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        margin-right: 15px;
      }
    }
    &:nth-child(1) {
      .checklistDiv {
        background-color: $white;
      }
    }
    &:nth-child(2) {
      .checklistDiv {
        background-color: $extreme-green;
      }
    }
    &:nth-child(3) {
      .checklistDiv {
        background-color: $white;
      }
    }
    &:nth-child(4) {
      .checklistDiv {
        background-color: $ocean-blue;
      }
    }
    &:nth-child(5) {
      .checklistDiv {
        background-color: $white;
      }
    }
    &:nth-child(6) {
      .checklistDiv {
        background-color: $white;
      }
    }
    &:nth-child(7) {
      .checklistDiv {
        background-color: $rosy;
      }
    }
    &:nth-child(8) {
      .checklistDiv {
        background-color: $white;
      }
    }
    &:nth-child(9) {
      .checklistDiv {
        background-color: $lemon;
      }
    }
    &:nth-child(10) {
      .checklistDiv {
        background-color: $white;
      }
    }
    &:nth-child(11) {
      .checklistDiv {
        background-color: #cdece1;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .checklistWrap {
    h1 {
      font-size: 24px;
    }
    .checklistPanel {
      width: 100% !important;
      .checklistDiv {
        padding: 20px;
        margin-bottom: 15px;
        h2 {
          font-size: 20px;
        }
      }
    }
  }
}
