.cardhead {
  background-color: $white;
}
.cardUniversityName {
  font-size: 11px;
}
.twominsbar {
  background-color: $primary;
  color: $white;
  font-size: 12px;
  border-radius: 0px 0px 6px 6px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .cardUniversityName {
    font-size: 9px;
    line-height: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
