.link_text {
  color: #989eb6;
  line-height: 185%;
}

@media only screen and (min-width: 250px) and (max-width: 991px) {
  .cta_footer {
    padding: 10px !important;
    // padding-bottom: 10px !important;
    .checklist_line {
      font-size: 20px !important;
    }
  }
}
