.knowintwoModal {
  .knowintwoHeader {
    .videoBadge {
      background-color: $pacific-blue !important;
    }
    button {
      padding: 1rem 1.25rem;
      font-size: 16px;
    }
  }
  .accordion-item {
    border: none;
  }
  .knowintwoHeaderWrap {
    border: none;
  }
}

.know_modal {
  [class~="accordion-button"] {
    &:focus {
      box-shadow: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .small_title {
    font-size: 9px;
    padding: 3px 5px;
  }
}
