.lead_form_wrap {
  box-shadow: 0 0 64px rgb(0 0 0 / 30%);
  border-radius: 20px;
  .lead_img {
    img {
      border-radius: 20px;
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .lead_form_wrap {
    box-shadow: none;

    .lead_form {
      padding-top: 0 !important;
      li {
        font-size: 10px;
        color: $green;
      }
    }
  }
  .lead_form_short_desc {
    padding: 15px !important;
  }
}

@media screen and (max-width: 991px) {
  .lead_form_img {
    display: none;
  }
  .lead_form_box {
    width: 100%;
  }
}
