.lead_page_form {
  padding: 0 30px 30px 30px;
  [class~="p-button"] {
    transition: 0.3s;
    &:hover {
      background-color: $dark-orange;
    }
  }
}

@media screen and (max-width: 768px) {
  .lead_page_form {
    padding: 0 15px 30px 15px;
  }
}
