.mynewclass {
  width: 75px;
}

.mob_sub_text {
  color: $pacific-blue;
}

.mobilemenu_dialog {
  [class~="p-menuitem-text"] {
    width: 100%;
    font-size: 14px;
  }
  [class~="p-menuitem-icon"] {
    font-size: 14px;
  }
  [class~="p-slidemenu-rootlist"] {
    padding-bottom: 70px;
  }
  .mobile_label_tag {
    [class~="p-menuitem-link"]:not(.p-disabled):hover {
      background-color: #fff;
    }
  }
  [class~="p-slidemenu-backward"] {
    display: none;
  }
  [class~="p-menuitem-link"] {
    &:not(.p-disabled) {
      &:hover {
        background-color: $white;
        box-shadow: none;
      }
    }
  }
}
