.prosconsModal {
  p {
    font-size: 14px;
    padding: 10px;
    border-radius: 4px;
  }
  .prosdiv p {
    background-color: $aliceblue;
    border: 1px solid #d6eaf6;
  }
  .consdiv p {
    background-color: #fff5f6;
    border: 1px solid #f5dfe3;
  }
}
