.heading {
  &::after {
    position: absolute;
    width: 100%;
    top: 12px;
    left: 0;
    content: "";
    background: rgba(0, 101, 255, 0.30196078431372547);
    height: 1px;
  }
  span {
    background: #fff;
    padding: 0 5px 0 0;
    color: $primary;
    position: relative;
    z-index: 9;
  }
}
