.logoWrapper {
  top: 6px;
  right: 17px;
  border-radius: 10px;
  .logo {
    border-radius: 10px;
  }
}
.name {
  top: 10px;
  border-radius: 0px 9px 9px 0px;
}
.addtocompare {
  right: 10px;
  bottom: 13px;
  background-color: $secondary;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 4px;
  color: $white;
}
