.card-wrapper {
  display: none;
  .col-6 {
    &:nth-child(1) {
      .card {
        border-left: 3px solid $blue;
      }
    }
    &:nth-child(2) {
      .card {
        border-left: 3px solid $navy;
      }
    }
    &:nth-child(3) {
      .card {
        border-left: 3px solid $light-green;
      }
    }
    &:nth-child(4) {
      .card {
        border-left: 3px solid $light-orange;
      }
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .card-wrapper {
    margin-top: 25px;
    .card-wrap {
      &:nth-child(1),
      &:nth-child(3) {
        padding-left: 0;
      }
      &:nth-child(2),
      &:nth-child(4) {
        padding-right: 0;
      }
      .card {
        img {
          width: 40px !important;
        }

        .card-title {
          font-size: 12px;
        }
        .card-body {
          font-size: 10px;
          padding: 0rem 1rem;
        }
      }
    }
  }
}
