.dropdownCustom {
  .p-dropdown {
    .p-dropdown-trigger {
      width: 1rem;
    }
    &:not(.p-disabled).p-focus {
      box-shadow: 0 0 0 0.2rem $dark-grey;
      border-color: $dark-grey;
    }
    &:not(.p-disabled):hover {
      border-color: $dark-grey;
    }
    background: $dark-grey;
    width: 100%;
    border: 1px solid $dark-grey;
    .p-dropdown-label {
      padding: 0;
      font-size: 12px;
      color: $white;
    }
    .p-dropdown-label.p-placeholder {
      color: $white;
      font-size: 12px;
    }
    .pi-chevron-down:before {
      color: $white;
      font-size: 12px;
    }
    .p-inputtext {
      font-family: $myFont;
    }
  }
}

.p-dropdown-panel {
  .p-dropdown-items {
    .p-dropdown-item {
      padding: 0.25rem 1.25rem;
      font-size: 14px;
    }
  }
}
