.p-menubar {
  .p-menubar-end {
    margin-left: unset;
  }
  .p-menubar-root-list {
    margin-left: auto;
    > .p-menuitem {
      > .p-menuitem-link {
        .p-submenu-icon {
          color: $primary;
          margin-left: 2px;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  .p-submenu-list {
    width: max-content;
    border-radius: 6px;
    z-index: 11;
    .p-menuitem-link {
      .p-submenu-icon {
        padding-left: 5px;
      }
    }
    .p-menuitem {
      border-bottom: 1px solid #cccccc52;
      &:last-child {
        border-bottom: none;
      }
    }
    .p-menuitem {
      .p-menuitem-link {
        &:hover {
          .p-menuitem-text {
            background-color: aliceblue;
          }
        }
      }
    }
  }
  .p-menuitem-link {
    font-size: 14px;
  }
  .p-menubar-root-list {
    > .p-menuitem {
      > .p-menuitem-link {
        &:not(.p-disabled) {
          &:hover {
            background: transparent !important;
            .p-menuitem-text {
              color: $primary !important;
            }
            .p-submenu-icon {
              color: $primary !important;
            }
          }
          &:focus {
            background: transparent !important;
            .p-menuitem-text {
              color: $primary !important;
            }
            .p-submenu-icon {
              color: $primary !important;
            }
          }
          &:active {
            background: transparent !important;
            .p-menuitem-text {
              color: $primary !important;
            }
            .p-submenu-icon {
              color: $primary !important;
            }
          }
        }
      }
    }
  }
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text,
.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon {
  color: $primary !important;
}

.p-menubar .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background-color: transparent !important;
}
