.key-wrapper {
  .key-wrap {
    .icon {
      font-size: 40px;
      margin-right: 10px;
    }
    .icon1 {
      color: $light-orange;
    }
  }
}

@media (max-width: 786px) {
  .key-wrapper {
    flex-direction: row;
    margin: 0;
    .key-wrap {
      flex-direction: column;
      text-align: center;
      width: calc(33.33% - 10px);
      align-items: center !important;
      background-color: #f2f3f8;
      margin: 0 5px;
      border-radius: 6px;
      padding: 10px 7px;
      .key-content {
        font-size: 9px;
        margin-top: 2px !important;
      }
      .key-title {
        font-size: 12px;
        margin: 5px 0 5px 0;
      }
      .icon {
        font-size: 20px;
        margin: 0 auto;
      }
      .icon1 {
        color: $light-orange;
      }
    }
  }
}

@media only screen and (min-width: 786px) and (max-width: 1024px) {
  .key-wrapper {
    .key-wrap {
      .key-content {
        font-size: 12px;
      }
      .key-title {
        font-size: 16px;
      }
      .icon {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (min-width: 579px) and (max-width: 778px) {
  .key-wrapper {
    margin-bottom: 10px !important;
  }
}
