.lead-form li {
  color: $green;
}
.form-demo {
  .badge {
    background-color: $extreme-light-green;
    color: $light-black;
    .lock-icon {
      color: $green;
    }
  }
  .p-button-label {
    font-weight: normal;
  }
}
