.primary-button-wrap {
  .p-button.primary-button {
    @include button-basic;
    background: linear-gradient(to left, $primary 50%, #0066bc 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: $primary;
    width: 100%;
    &:hover {
      background-position: left bottom;
    }
    &:focus {
      box-shadow: 0 0 0 1px $primary;
    }
  }
}
