@media (max-width: $layout-breakpoint-small) {
  .main-heading {
    font-size: 20px;
  }
  .mob-none {
    display: none;
  }
  .form-demo {
    padding: 0 20px 20px 20px;
  }
  .lead-form li {
    font-size: 11px;
  }
}
