.primary-button-wrap {
  .p-button.primary-button {
    @include button-basic;
    background: linear-gradient(to left, $secondary 50%, #e44a20 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s ease-out;
    color: #fff;
    border-color: $secondary;
    width: 100%;
    padding: 5px 0px;
    font-size: 11px;
    &:hover {
      background-position: left bottom;
    }
    &:focus {
      box-shadow: 0 0 0 1px $secondary;
    }
  }
}
