:root {
  scroll-behavior: auto !important;
}
body,
html {
  font-size: 16px;
  user-select: none;
}
body,
button,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $myFont !important;
  font-display: "swap";
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  // font-display: "swap";
}

.carousel-indicators {
  [data-bs-target] {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
  }
}

.bgprimary {
  background-color: $primary;
}

.bgsecondary {
  background-color: $secondary;
}

.textprimary {
  color: $primary;
}

.textsecondary {
  color: $secondary;
}

.bg-grey {
  background-color: $light-grey;
}
.bgdark {
  background-color: $dark;
}
.textdark {
  color: $dark;
}
.text_offwhite {
  color: $off-white;
}

.shadow-1 {
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
}
.shadow-2 {
  box-shadow: 0px 2px 15px rgb(0 0 0 / 4%);
}

.shadow-top {
  box-shadow: 0 -1px 6px rgb(0 0 0 / 16%);
}

.dark-shadow {
  box-shadow: 0 0 207px rgb(0 0 0 / 31%);
}

.rounded-10 {
  border-radius: 10px;
}

.w-40 {
  width: 40%;
}

.fs6 {
  font-size: 6px;
}

.fs-7 {
  font-size: 7px;
}

.fs-8 {
  font-size: 8px;
}

.fs-9 {
  font-size: 9px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.sub-heading {
  color: $primary;
}

.button-black {
  @include button-basic;
  background-color: $dark;
  color: $off-white;
  border: 1px solid $dark;

  &:hover {
    background-color: $white;
    color: $black;
  }
}
.text-xs {
  font-size: 13px;
  margin-top: 5px;
}

.realcontent_wrap {
  display: none;
}

.form-select {
  &:focus {
    box-shadow: none !important;
  }
}
.p-button {
  &:focus {
    box-shadow: none;
  }
}

// .course-nav {
//   a {
//     color: $black;

//     &:hover {
//       cursor: pointer;
//     }

//     &.active {
//       background-color: $primary;
//       color: $white;
//     }
//   }
// }

// .course-heading {
//   font-size: 28px;
//   color: $primary;
// }

// .course-nav-detail {
//   background-color: aliceblue;
//   padding: 0 30px;
// }

.cursor-pointer {
  cursor: pointer;
}

// for compareshorthead component
.p-datatable .p-column-header-content,
.p-column-title {
  width: 100%;
}

.topuniversity_accordion .accordion-button {
  padding: 1rem 1.25rem;
  font-size: 16px;
}

//  collection component
// .collection {
//   .p-tabview {
//     .p-tabview-panels {
//       padding: 0;
//       margin-top: 20px;
//     }

//     .p-tabview-nav {
//       li.p-highlight {
//         .p-tabview-nav-link {
//           background-color: $primary;
//           color: $white;
//         }
//       }

//       li {
//         margin-right: 8px;

//         .p-tabview-nav-link {
//           background-color: $light-grey;
//           font-weight: normal;

//           &:not(.p-disabled):focus {
//             box-shadow: none;
//             background-color: $primary;
//             color: $white;
//           }
//         }
//       }
//     }
//   }
// }
// end collection component

.form-check-input {
  margin-top: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 24px !important;
  color: $white;
}

// underine animation css
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $primary;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
// end of underine animation css

.gPkpwR > .wrapper {
  z-index: 9999 !important;
}

.p-dialog {
  .p-dialog-header {
    .p-dialog-title {
      font-weight: normal;
      font-size: 14px;
      text-align: center;
    }
  }
}

// .BottomModalButton {
//   .primary-button-wrap {
//     width: 100%;
//   }

//   .primary-button-wrap {
//     .p-button.primary-button {
//       font-size: 14px;
//       padding: 15px 0;
//     }
//   }
// }

.sticky-top {
  z-index: 111;
}

.p-dialog-mask {
  z-index: 111 !important;
}

.p-image-preview-container > img {
  width: 100%;
  border-radius: 4px;
}

// .p-sidebar-content {
//   display: flex;
//   align-items: center;
// }

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus,
.p-accordion
  .p-accordion-header:not(.p-disabled)
  .p-accordion-header-link:focus {
  box-shadow: none;
}

.studentsay-tabview .p-tabview .p-tabview-nav {
  border: none;
  display: flex;
  justify-content: center;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: none;
}

// .UniversityDetailTab {
//   .p-tabview-nav-container {
//     position: sticky;
//     top: 0;
//     z-index: 111;
//   }

//   .p-tabview {
//     .p-tabview-nav {
//       justify-content: space-between;
//       background-color: $light-grey;

//       li {
//         .p-tabview-nav-link {
//           background-color: $light-grey;
//           border-radius: 0;
//         }
//       }
//     }
//   }

//   .p-tabview-title {
//     font-size: 15px;
//     font-weight: normal;
//   }
// }

.p-button-label {
  font-weight: 400;
}

.positivediv {
  background-color: $aliceblue;
}

.negativediv {
  background-color: $extreme-light-orange;
}

#pr_id_25_content {
  padding: 0;
}

.p-dialog {
  .p-dialog-footer {
    padding: 0;
  }
}

.feestable {
  border-radius: 20px;
  background-color: beige;

  .table-responsive {
    border-radius: 20px;
  }

  .table {
    td,
    th {
      padding: 20px 15px !important;
    }

    thead {
      background-color: $aliceblue;
    }
  }
}

// .option_wrapper {
//   label {
//     .label_icon {
//       position: absolute;
//       transition: all 300ms cubic-bezier(0.8, 1.64, 0.6, 1) 0s;
//       opacity: 0;
//       transform: translateY(-50%);
//       left: 15px;
//     }
//   }

//   input[type="checkbox"] {
//     &:checked {
//       + {
//         label {
//           .label_icon {
//             opacity: 1;
//             transform: rotate(0deg);

//             + {
//               span {
//                 transform: translateX(10px);
//               }
//             }
//           }
//         }
//       }
//     }
//   }
// }

span[style="font-family:Arial"] {
  font-family: $myFont !important;
}

.offcanvas-body {
  .p-panelmenu {
    .p-panelmenu-content {
      .p-menuitem {
        .p-menuitem-link {
          &:focus {
            box-shadow: none;
          }
        }
      }
    }

    .p-panelmenu-header-link {
      justify-content: space-between;
      flex-direction: row-reverse;
    }

    .p-panelmenu-header {
      a {
        border: none;
        background-color: $white;
        padding: 10px 17px;
        color: $black;
        font-size: 15px;
        font-weight: normal;
      }

      a:focus {
        box-shadow: none;
      }
    }

    .p-toggleable-content {
      a {
        font-size: 15px;
      }
    }
  }
}

// for otta circular price
.circleInput {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circleContainer {
  margin: 0 auto 50px auto;
  position: relative;
}

.progress-bar {
  background-color: $pacific-blue !important;
}

.p-inputtext,
.p-dropdown {
  border: 1px solid #5e6c84;
}

.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus {
  box-shadow: none;
}

.form-demo {
  padding: 0 20px 20px;
}

.p-rating .p-rating-icon.pi-star-fill,.p-rating-icon {
  color: #ffc107 !important;

}

.university_page_list_items {
  a {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #e9ecef5e;

    &.active {
      background-color: $primary;
      color: $white;
    }
  }
}

.p-progressbar {
  .p-progressbar-label {
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    visibility: hidden;
  }

  .p-progressbar-value {
    background: #ffc008;
  }
}

.blog_video_tab {
  .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    border-radius: 31px;
    padding: 12px 35px;
    border: none;
  }

  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: linear-gradient(0deg, #0074d7, rgba(33, 150, 243, 0.97));
    color: #fff;
  }

  .p-tabview .p-tabview-nav {
    display: inline-flex;
    padding: 10px 15px;
    border-radius: 40px;
    border-width: 1px;
  }
}

.swiper {
  padding: 5px 18px !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #000;
  padding: 0 20px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 7%);
}

.swiper-button-prev {
  left: 0px !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: "prev";
  color: #ccc;
  font-size: 16px !important;
}

.footer-heading:before {
  content: "";
  position: absolute;
  background-color: #db2828;
  bottom: -5px;
  width: 68px;
  height: 2px;
  border-radius: 4px;
}

.university_comparison_swiper {
  .p-card {
    .p-card-body {
      padding: 0rem;

      .p-card-content {
        padding: 0;
      }
    }
  }
}

.p-tabview-ink-bar {
  display: none !important;
}

.p-component-overlay {
  background-color: rgb(0, 0, 0, 0.8) !important;
}

// .modal-backdrop {
//   background-color: #172b4d !important;
// }
// .modal-backdrop.show {
//   opacity: 0.97 !important;
// }
.modal-backdrop.show,.offcanvas-backdrop.show {
  opacity: 0.8 !important;
}

.mediaSwiper {
  .p-card-body {
    padding-left: 35px;
    padding-right: 30px;
  }
}

// .nav-pills .nav-link.active,
// .nav-pills .show > .nav-link {
//   background-color: $primary;
// }

// menu
.top-side-bar-wrap {
  top: 80px;
  .p-card {
    box-shadow: 0 2px 4px 2px rgb(0 0 0 / 10%);
    .p-card-body {
      padding: 0 1rem;
    }
  }
  .p-sidebar-header {
    display: none;
  }
  // .p-sidebar-content {
  //   overflow-y: hidden;
  // }
}
.top-header-visible {
  top: 121px;
}
// end of menu

.bottom_line {
  position: relative;
}
.bottom_line:before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #11d479;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}

// for lead page content
.course_short_desc {
  .main-head {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 500;
  }
}
.custom-course-wrap {
  h2 {
    font-size: 20px;
  }
  p {
    img {
      display: flex;
      margin: 0 auto;
    }
  }
  img {
    max-width: 700px;
    width: 100%;
  }
  table {
    margin-bottom: 20px;
    width: 100% !important;
    td {
      a {
        color: #000;
      }
      border: 1px solid #ccc;
      padding: 8px 20px;
    }
  }
}

.p-dropdown-panel {
  z-index: 1111 !important;
}

#login_account {
  .p-menuitem-icon {
    font-size: 12px;
  }
}
.custom-table-wrap {
  overflow-x: auto;
}

// blink animation css


// for mega menu

// .nav-pills .nav-link.active, .nav-pills .show>.nav-link

  .megamenu_navwrap.nav-pills .nav-link.active {
    background-color: $primary;
    color: $white !important;
  }


@keyframes blinking {
  0% {
    background-color: $primary;
  }
  100% {
    background-color: $white;
  }
}
.blink {
  width: 8px;
  height: 8px;
  display: inline-block;

  border-radius: 50%;
  animation: blinking 1s infinite;
}

// blink animation end

.p-inputtext,
label,
.p-component {
  font-family: $myFont;
}

.p-image-preview {
  max-width: 80vw;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

// mobile menu

.mobile_label_tag {
  .p-menuitem-text {
    color: #00d8a2 !important;
    font-size: 13px !important;
  }
  .p-menuitem-link {
    padding-bottom: 0;
  }
}

.p-sidebar-icon:focus {
  box-shadow: none !important;
}
