$primary: #0074d7;
$dark-primary: #005aa7;
$red: red;
$light-red: #ea8282;
$secondary: #f75d34;
$dark-orange: #fd4705;
$light-orange: #fb961d;
$extreme-light-orange: #faebd7;
$rosy: #fbe7d0;
$lemon: #f5f5dc;
$light-rose: #faebd7;
$light-green: #06a864;
$extreme-green: #dff3e9;
$extreme-light-green: #16b2a31a;
$green: #16b1a2;
$pacific-blue: #00d8a1;
$ocean-blue: #dfeff3;
$tiffany: #ddfce3;
$blue: #1200de;
$aliceblue: #f0f8ff;
$light-blue: #0074d726;
$navy: #007bc0;
$black: #000000;
$light-black: #253858b3;
$tag-grey: #f6f4f2;
$grey: #cccccc;
$dark: #14151a;
$dark-grey: #637588;
$light-grey: #f2f3f8;
$white: #ffffff;
$header-light: #f0f0ed;
$panel-light: #f7f7f3;
$off-white: #989eb6;

$secondary-hover: #cd4825;

// font family
$myFont: "poppins";
$myHeadingFont: "Merriweather,serif";
// responsive
$layout-breakpoint-small: 786px;
