// .homefaq {
//   .accordion {
//     &-button {
//       padding: 2rem 1.25rem;
//       font-size: 24px;

//       &:not(.collapsed) {
//         color: $secondary;
//         background-color: $white;
//       }

//       &:focus {
//         box-shadow: none;
//         border-bottom: 1px solid #eee;
//       }
//     }

//     &-body {
//       padding: 2rem 1.25rem;
//       background-color: $white;
//     }
//   }
// }

.custom_faq {
  [class~="accordion-button"] {
    &:focus {
      box-shadow: none;
    }
  }
  [class~="accordion-body"] {
    line-height: 26px;
  }
}

@media only screen and (min-width: 300px) and (max-width: 778px) {
  .custom_faq {
    [class~="accordion-button"] {
      font-size: 16px !important;
    }
  }
}
