.banner {
  padding: 70px 0;
  background-image: url("../../public/images/harvard-university-166027.avif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
  .banner_button_wrapper {
    flex-direction: column;
  }

  .proceed_btn_wrap {
    margin-bottom: 20px;
  }

  .proceed_btn_wrap,
  .youtube_btn_wrap {
    margin-right: auto !important;
  }
}
